<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:th="http://www.thymeleaf.org"
  layout:decorate="Layout">
<head>
  <title>Content page 1</title>
  <script src="content-script.js"></script>
</head>
<body>
<div layout:fragment="content">
 <div class="row">
	<div class="col-lg-12">
		<h2>Add account:</h2>
          	<div class="row">
          		<form role="form">
          			<div class="form-group">
                          <label>Account No</label>
                          <input class="form-control">
                      </div>
                     
          		</form>
          	</div>

 		</div>
 	</div>
</div>
</body>
</html>